<div class="row">
	<div class="col-md-4" *ngFor="let list of lists">
		<div class="dragContainer">
			<span class="addIcon" (click)="createTask(list)">+</span>
			<div class="deleteList">
				<mat-icon (click)="removeList(list.id)">restore_from_trash</mat-icon>
			</div>
			
			<div class="sectionHeading">{{list.name}}</div>
			<div cdkDropList id="{{list.id}}" [cdkDropListData]="list.tasks" [cdkDropListConnectedTo]="connectedTo" class="itemsList" (cdkDropListDropped)="drop($event)">
				<div class="itemBox" *ngFor="let task of list.tasks" cdkDrag>
					<span class="taskName">{{task.name}}</span>
					<span class="taskDescription">{{task.description}}</span>
					<div class="buttonDelete">
						<mat-icon (click)="removeTask(list.id, task.id)">restore_from_trash</mat-icon>
					</div>
				</div>
			</div>
		</div>
	</div>
<div>