.drag-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #E9ECEF;
  padding: 15px;
  border-radius: 5px;
}

.section-heading {
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.container {
  padding: 10px;
}